.header {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-2);
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacer-12);
  position: sticky;
  top: 0;
}

.header a {
  color: var(--white);
  text-decoration: none;
}

.navOne {
  display: flex;
  gap: var(--spacer-2);
  padding-top: var(--spacer-1);
}

.navOne :link:nth-child(2) {
  display: none;
  color: var(--black);
  transition: ease 0.5s;
}

.navOne :link:hover {
  color: var(--white);
}

.navTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space-scale) * 2);
  margin-left: var(--spacer-10);
  padding-top: var(--spacer-1);
}

.navTwo :link {
  color: var(--black);
  transition: ease 0.5s;
}

.navTwo :link:hover {
  color: var(--white);
}

.navTwo button {
  color: var(--black);
  text-align: center;
  border-radius: var(--spacer-1);
  border: none;
  cursor: pointer;
  padding: var(--spacer-1);
  background-color: var(--primary);
}

.navTwo button:hover {
  background-color: var(--primary);
}

.largeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--spacer-12);
  font-size: var(--xxx-large);
}

.smallHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--larger);
}

.navThree {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.navThree :link {
  color: var(--primary);
  font-size: var(--larger);
}

.navThree :link:hover {
  color: var(--primary);
  text-decoration: underline;
}

.navThree :link:nth-child(2) {
  margin-left: var(--spacer-1);
}

.mainNav {
  background-color: #1d1d1d;
  height: var(--spacer-8);
  border-bottom: 1px solid #131313;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacer-12);
}

.header {
  background-image: linear-gradient(to top, black, black);
  height: 180vh;
}

@media (max-width: 1100px) {
  .header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacer-12);
    position: sticky;
    top: 0;
  }

  .navOne :link:nth-child(2) {
    display: block;
  }

  .largeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: var(--spacer-12);
    font-size: var(--xxx-large);
  }

  .smallHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--larger);
  }

  .navThree {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
  }

  .navThree :link {
    color: var(--primary);
    font-size: var(--larger);
  }

  .mainNav {
    background-color: #1d1d1d;
    height: var(--spacer-12);
    border-bottom: 1px solid #131313;
  }

  .videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    background-image: linear-gradient(to top, #161521, black);
    height: 120vh;
  }
}

@media (max-width: 550px) {
  .largeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: var(--spacer-12);
    font-size: var(--x-large);
  }

  .navOne :link:nth-child(2) {
    display: block;
  }

  .smallHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .navThree {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
  }

  .navThree :link {
    color: var(--primary);
  }

  .mainNav {
    background-color: #1d1d1d;
    height: var(--spacer-8);
    border-bottom: 1px solid #131313;
  }

  .videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    background-image: linear-gradient(to top, #161521, black);
    height: 120vh;
  }
}

/* ========================= Header section styles - END ===================================== */

/* ========================= No setup section styles - START ===================================== */
/* TODO: Add no-setup rules here. The first rule has been partially set up for you */

.noSetup {
  color: var(--white);
}

/* ========================= No setup section styles - END ===================================== */

/* ========================= Shareable url section styles - START ===================================== */
/* TODO: Add shareable-url rules here. The first rule has been partially set up for you */

.shareableUrls {
  color: var(--white);
}

/* ========================= Shareable url section styles - END ===================================== */
