.header {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer-2));
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(var(--spacer-12));
  position: sticky;
  top: 0;
}

.header a {
  color: var(--white);
  text-decoration: none;
}

.navOne {
  display: flex;
  gap: calc(var(--spacer-2));
  padding-top: var(--spacer-1);
}

.navOne :link:nth-child(2) {
  display: none;
  color: var(--black);
  transition: ease 0.5s;
}

.navOne :link:hover {
  color: var(--white);
}

.navTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space-scale) * 2);
  margin-left: calc(var(--spacer-10));
  padding-top: calc(var(--spacer-1));
}

.navTwo :link {
  color: var(--black);
  transition: ease 0.5s;
}

.navTwo :link:hover {
  color: var(--white);
}

.navTwo button {
  color: var(--black);
  text-align: center;
  border-radius: calc(var(--spacer-1));
  border: none;
  cursor: pointer;
  padding: calc(var(--spacer-1));
  background-color: var(--primary);
}

.navTwo button:hover {
  background-color: var(--primary);
}

.largeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(var(--spacer-12));
  font-size: calc(var(--xxx-large));
}

.smallHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(var(--larger));
}

.navThree {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.navThree :link {
  color: var(--primary);
  font-size: calc(var(--larger));
}

.navThree :link:hover {
  color: var(--primary);
  text-decoration: underline;
}

.navThree :link:nth-child(2) {
  margin-left: calc(var(--spacer-1));
}

.mainNav {
  background-color: #1d1d1d;
  height: calc(var(--spacer-8));
  border-bottom: 1px solid #131313;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--spacer-12));
}

.header {
  background-image: linear-gradient(to top, black, black);
  height: 180vh;
}

@media (max-width: 1100px) {
  .header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: calc(var(--spacer-12));
    position: sticky;
    top: 0;
  }

  .navOne :link:nth-child(2) {
    display: block;
  }

  .largeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: calc(var(--spacer-12));
    font-size: calc(var(--xxx-large));
  }

  .smallHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: calc(var(--larger));
  }

  .navThree {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
  }

  .navThree :link {
    color: var(--primary);
    font-size: calc(var(--larger));
  }

  .mainNav {
    background-color: #1d1d1d;
    height: calc(var(--spacer-12));
    border-bottom: 1px solid #131313;
  }

  .videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    background-image: linear-gradient(to top, #161521, black);
    height: 120vh;
  }
}

@media (max-width: 550px) {
  .largeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: calc(var(--spacer-12));
    font-size: calc(var(--x-large));
  }

  .navOne :link:nth-child(2) {
    display: block;
  }

  .smallHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .navThree {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
  }

  .navThree :link {
    color: var(--primary);
  }

  .mainNav {
    background-color: #1d1d1d;
    height: calc(var(--spacer-8));
    border-bottom: 1px solid #131313;
  }

  .videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    background-image: linear-gradient(to top, #161521, black);
    height: 120vh;
  }
}

/* ========================= Header section styles - END ===================================== */

/* ========================= No setup section styles - START ===================================== */
/* TODO: Add no-setup rules here. The first rule has been partially set up for you */

/* Screen sizes */
/* 0-550px — Mobile */
/* 551-1100px — Tablet */
/* 1101-1500px — Laptop */
/* 1501+px — Desktop */

/* Recurring Sytles */
.noSetup {
  background-image: radial-gradient(
    circle at center,
    #201b35 0%,
    #1b182b,
    #1a1729,
    #191626,
    #171521 100%
  );
  color: var(--white);
  padding: var(--spacer-4);
  display: grid;
  grid-template-areas:
    'info'
    'video';
  grid-gap: var(--spacer-4);
}
.noSetup .info {
  display: flex;
  grid-area: info;
  flex-direction: column;
  gap: var(--spacer-2);
}
.noSetup .info h2 {
  display: flex;
  flex-direction: column;
  word-spacing: -5px;
  font-size: calc(var(--large) * 2.2);
  font-weight: 500;
}
.noSetup .info h2 span {
  opacity: 0.5;
}
.noSetup .info p {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 320px;
  font-size: var(--medium);
}
.noSetup .info p span {
  opacity: 0.5;
}

/* My video Element is on the site but am having issue with the rendering  */
.noSetup .noSetup_video {
  width: 100%;
  max-height:90vh;
  grid-area: video;
  display: flex;
  flex-direction: column;
  font-size: var(--medium);
  position: relative;
  border: rgb(59, 58, 58) solid 1px;
}

.noSetup .noSetup_video video {
  width: 100%;
}
.noSetup .noSetup_video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}

/* Mobile Sytles */

@media screen and (max-width: 550px) {
}

/* Tablet Sytles 551-1100px */

@media screen and (min-width: 551px) and (max-width: 1100px) {
  .noSetup .info h2 {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--large) * 3);
    word-spacing: -5px;
    font-weight: 500;
  }
  .noSetup .info p {
    width: 300px;
    font-size: calc(var(--small) * 2);
  }
}

/* Laptop Sytles 1101 and above */

@media screen and (min-width: 1101px) {
  .noSetup .info {
    display: flex;
    width: 95%;
    grid-area: info;
    flex-direction: row;
    gap: var(--spacer-2);
    font-weight: 600;
    justify-content: left;
    align-items: end;
  }
  .noSetup .info h2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: calc(var(--x-large) * 2.3);
    word-spacing: -8px;
    font-weight: 500;
  }
  .noSetup .info p {
    width: 100%;
    max-width: 320px;
    font-size: calc(var(--medium) * 1.1);
  }
}

/* ========================= No setup section styles - END ===================================== */

/* ========================= Shareable url section styles - START ===================================== */
/* TODO: Add shareable-url rules here. The first rule has been partially set up for you */

.shareableUrls {
  color: var(--white);
}

/* ========================= Shareable url section styles - END ===================================== */
