/* ========================= Reusable styles - START ===================================== */
/* Add rules that can be reused across sections here */
/* ========================= Reusable styles - END ===================================== */

/* ========================= Header section styles - START ===================================== */
/* TODO: Add header rules here. The first rule has been partially set up for you */

.header {
  color: var(--white);
  display: flex;
}

.header a {
  color: var(--white);
  text-decoration: none;
}

/* ========================= Header section styles - END ===================================== */

/* ========================= No setup section styles - START ===================================== */
/* TODO: Add no-setup rules here. The first rule has been partially set up for you */

.noSetup {
  color: var(--white);
}

/* ========================= No setup section styles - END ===================================== */

/* ========================= Shareable url section styles - START ===================================== */

.shareableUrls {
  color: var(--white);
  background-color: var(--dark);
  padding-top: var(--spacer-9);
  padding-bottom: var(--spacer-12);
}

.shareIcon {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: var(--spacer-1);
}

.shareableUrls > p {
  font-size: var(--larger);
  text-align: center;
}

.shareableUrls > h2 {
  font-size: calc(var(--xx-large) + var(--xx-large));
  text-align: center;
  margin-top: var(--spacer-1);
}

.slideContainer {
  display: flex;
  margin-top: var(--spacer-12);
  gap: var(--spacer-12);
}

.slideContainer>img {
  width: fit-content;
  height: 70vh;
}

.trim {
  width: fit-content;
  height: 70vh;
  min-width: 50vw;
  overflow: hidden;
  position: relative;
}

.animatedContainer {
  width: fit-content;
  height: 70vh;
  min-width: 50vw;
  overflow: hidden;
  position: relative;
  animation: fadeIn 3s;
}

.trim>img {
  height: 100%;
  min-width: fit-content;
  position: absolute;
  right: 0;
}

.animatedContainer>img {
  height: 100%;
  min-width: fit-content;
  position: absolute;
  right: 0;
}

.slideContainer>div {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.slideContainer>div>div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  cursor: pointer;
  opacity: 0.5;
}

.progressBarContainer {
  width: 400px;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.2);
}

.progressBarContainer>div {
  width: 5%;
  height: 100%;
  background-color: var(--primary);
}

.shareALinkContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shareALinkContent>h2 {
  font-size: var(--large);
}

.shareALinkContent>p {
  font-size: var(--medium);
}

#true {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s;
}

#false {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out 0.2s;
}


.fadeInImage {
  animation: fadeIn 3s;
}

.getStarted {
  color: var(--primary);
  text-decoration: none;
  font-size: var(--medium);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media(max-width:1500px) {
  .shareableUrls>h2 {
    font-size: calc(var(--xx-large + --small));
  }
}

@media(max-width:1101px) {
  .slideContainer {
    flex-direction: column;
  }

  .slideContainer>div {
    width: 95%;
  }

  .slideContainer>div:nth-child(2) {
    width: 87%;
    margin: auto;
  }

  .progressBarContainer {
    width: 100%;
  }

  .shareableUrls>h2 {
    font-size: calc(var(--xx-large))
  }
}

@media(max-width:550px) {
  .shareableUrls>h2 {
    font-size: calc(var(--x-large))
  }
}

/* ========================= Shareable url section styles - END ===================================== */